.body
    {
        background-color: rgba(211,211,211,0.979);
    }
    
a{
    text-decoration: none;
    border-bottom: 1px soli blue;
}



.fa{
    color: rgb(52, 52, 255);
}

.box-center{
    background-color: rgb(255, 255, 255);
    padding: 90px 30px ;
    letter-spacing: 1px;
    border-radius: 25px;
    margin: 30px 0px;
}

.box{
    padding: 60px 0px;
}














